* {
	margin: 0;
	padding: 0;
	border: 0;
}

nav a img {
	width: 4rem;
}

.btn-nav {
	background-color: transparent;
	color: black;
	border-color: transparent;
}

.primary-color {
    background-color: #FFFFFF;
}
.secondary-color {
    background-color: #D81D26;
}
.third-color {
    background-color: #1A1A1A;
}
.fourth-color {
    background-color: #2F2F2F;
}
.fifth-color {
    background-color: #535353;
}